@model SophaTemp.Viewmodel.LoginVm



<form method="post" asp-action="Login">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input  asp-for="Email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input asp-for="MotDePasse" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

  
</form>