@model SophaTemp.Viewmodel.LoginVm

@{
   
    ViewData["Title"] = "Login";
}
<style>
    body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
        background-position: center;
        align-items: center;
    }

    .login-container {
        width: 600px;
        background-color: #82bd1c;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-align: center;
        margin-left:300px;
    }

    .login-header img {
        width: 100px;
    }

    .login-header h1 {
        font-size: 16px;
        color: #333;
    }

    .form-group {
        margin-bottom: 13px;
        text-align: left;
    }

    input[type="email"], input[type="password"], .btn-login {
        width: 95%;
        padding: 10px;
        border: 1px solid #4CAF50;
        border-radius: 7px;
    }

    .btn-login {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

        .btn-login:hover {
            background-color: #45a049;
        }

    .forgot-password {
        display: block;
        margin-top: 10px;
        color: white;
        text-decoration: none;
    }

    .forgot-password :hover {
        display: block;
        margin-top: 10px;
        color: #666;
        text-decoration: none;
    }
    footer {
        margin-top: 20px;
        font-size: 12px;
        color: #666;
    }
</style>

<div class="login-container">
    <div class="login-header">

        <h1>Veuillez Se Connecter !</h1>
    </div>
    <div class="login-form">
        <form asp-action="Login" method="post">

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" required class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label >Mot de passe </label>
                <input asp-for="MotDePasse" required class="form-control" />
                <span asp-validation-for="MotDePasse"></span>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" asp-for="RememberMe" id="rememberMe">
                <label for="rememberMe">Se souvenir de moi</label>
            </div>
            <button type="submit" class="btn-login">Se connecter</button>
        </form>
    </div>
   
</div>
