<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenue, Admin !</h1>
        <p class="lead">Ceci est votre tableau de bord, d'où vous pouvez gérer l'ensemble de l'application.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gérer les Utilisateurs</h5>
                    <p class="card-text">Ajouter, modifier ou supprimer des utilisateurs de l'application.</p>
                    <a href="/Admin/GestionUtilisateurs" class="btn btn-primary">Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Voir les Rapports</h5>
                    <p class="card-text">Accéder et analyser les derniers rapports.</p>
                    <a href="/Admin/Rapports" class="btn btn-primary">Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paramètres</h5>
                    <p class="card-text">Ajuster les paramètres de l'application.</p>
                    <a href="/Admin/Parametres" class="btn btn-primary">Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paramètres</h5>
                    <p class="card-text">Ajuster les paramètres de l'application.</p>
                    <a href="/Admin/Parametres" class="btn btn-primary">Explorer</a>
                </div>
            </div>
        </div>
    </div>
</div>