@model SophaTemp.Viewmodel.PasseportVm

@{
    ViewData["Title"] = "Create";
}
<div class="container mt-5">
<h1>Create</h1>

<h4>Passeport</h4>
<hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border p-4 rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

                    <div class="form-group">
                        <label for="permissions" class="control-label">Permissions</label>
                        <select asp-for="SelectedpasseportIds" class="form-control" asp-items="ViewBag.Permission" multiple="multiple"></select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />


                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
