@model IEnumerable<SophaTemp.Models.Lot>

<div class="lot-container">
    @foreach (var lot in Model)
    {
        <div class="lot">
            <p>Date Expiration: @lot.DateDExpedition.ToString("yyyy-MM-dd")</p>
            <p>Quantité disponible: @lot.Quantite</p>
            <input type="number" name="quantities[@lot.LotId]" min="0" max="@lot.Quantite" />
        </div>
    }
</div>
