@model SophaTemp.Viewmodel.CommandeVm

@{
    ViewData["Title"] = "Create";
}
<div class="container mt-5">
    <h1>Create Commande</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Commandes" id="form">
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="LotCommandeId" class="control-label"></label>
                    <select asp-for="LotCommandeId" class="form-control" asp-items="ViewBag.LotCommandeId"></select>
                    <span asp-validation-for="LotCommandeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Médicament</label>
                    <select asp-for="MedicamentId" class="form-control" id="medicament" asp-items="ViewBag.MedicamentId"></select>
                </div>
                <div class="form-group">
                    <label>Quantité du médicament</label>
                    <input type="number" class="form-control" id="max" />
                </div>
                <div class="form-group">
                    <div id="lotDisplay"></div>
                    <input type="button" id="AddLine" class="btn btn-primary col-12 my-2" value="Ajouter une ligne de commande">
                    <table class="table" id="details">
                    </table>
                </div>
                <div class="form-group">
                    <label asp-for="DateCommande"></label>
                    <input asp-for="DateCommande" class="form-control" type="date" />
                    <span asp-validation-for="DateCommande" class="text-danger"></span>
                    <textarea id="data" asp-for="Data" class="d-none"></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <input type="button" id="AddCommande" class="btn btn-primary col-12 my-2" value="Valider la commande">
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var medicament =
                $("#medicament").change(function () {
                    medicament = $("#medicament :selected").text();
                    $.ajax({
                        url: "/Lots/GetByMedicamentId/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            $("#lotDisplay").html(data);
                            if ($(".lot").length > 0) {
                                $("#AddLine").show();
                            }
                        },
                        error: function () {
                            $("#lotDisplay").html("Un problème au moment de chargement des lots");
                        },
                        beforeSend: function () {
                            $("#loader").fadeIn(200);
                            $("#AddLine").hide();
                        },
                        complete: function () {
                            $("#loader").fadeOut(200);
                        }
                    })
                });

            var max = 0;
            $("#max").keyup(function () {
                max = $(this).val();
            })
            $(document).on("keyup", ".lot input", function () {
                var total = 0;

                $(".lot").each(function () {
                    var qte = parseInt($(this).children("input").val());
                    total += qte;

                    if (total > max) {
                        var qteJusquMax = Math.abs(max - total + qte);
                        $(this).children("input").val(qteJusquMax);
                        alert("Le système a changé la Quantité sasie car vous avez depassé la Quantité Totale");
                    }
                })


            })


            var details = [];
            $("#AddLine").click(function () {
                var chaine = $("#data").val();

                $(".lot").each(function () {
                    var qte = $(this).children("input").val();
                    var prix = $(this).find("span").html();
                    var id = $(this).attr("data");
                    if (qte && qte != "0") {
                        chaine += id + ";" + qte + ";";
                        var total = qte + prix;
                        details.push({ "medicament": medicament, "lot": id, "prix": prix, "qte": qte, "total": total });
                    }
                });
                $("#data").val(chaine);
                showTable();
                return false;
            })

            function showTable() {
                $("#details").html("");
                if (details.length > 0) {
                    $("#details").html("<tr><th>Médicament</th><th>Numero lot</th><th>Prix</th><th>Qte</th><th>Total</th><th>Actions</th></tr>")
                    details.forEach(line => {
                        var row = "<tr><td>" + line.medicament + "</td><td>" + line.lot + "</td><td>" + line.prix + " DH</td><td>" + line.qte + " Unité</td><td>" + line.total + " DH</td><td><button class='btn btn-danger btn-sm delete-line'>Supprimer</button></td></tr>";
                        $("#details").append(row);

                    });
                }

            }

            $("#AddCommande").click(function () {
                if (details.length > 0) {
                    $("#data").val(JSON.stringify(details));
                    $("#form").submit();
                }


            })
            $(document).on('click', '.delete-line', function () {
                $(this).closest('tr').remove();
            });
        })
    </script>
}