@model List<SophaTemp.Models.CategoryMedicament>

<section class="department_section hm-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading clearfix">
                    <h1>La listes des <span>catégories</span></h1>
                    <p><a href="@Url.Action("Categories", "Shop")"> Voir tous les catégories</a></p>
                </div>
            </div>
        </div>
        <div class="department_inner">
            <div class="row">
                <div class="col-lg-12">
                    @foreach (var categorie in Model)
                    {
                        <div class="department_icon_content">
                            <a href="@Url.Action("MedicationsByCategory", "Category", new { id = categorie.CategoryMedicamentId })">
                                <span class="flaticon-brain dep_icon"></span>
                                <h2>@categorie.Libelle</h2>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
