@page
@model List<SophaTemp.Models.Lot>
@{
}
<h2>Votre panier</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.MedicamentId - $@item.PrixVente </li>
        }
    </ul>
}
else
{
    <p>Votre panier est vide.</p>
}