<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="title" content="Meditex">
    <meta property="fb:app_id" content="312" />
    <meta property="og:type" content="Medical" />
    <meta property="og:url" content="http://steelthemes.com/demo/Elango/meditex-final/" />
    <meta property="og:title" content="Meditex">
    <meta property="og:image" content="http://steelthemes.com/demo/Elango/meditex-final/assets/image/fbimg-210x210.jpg">
    <meta property="og:description" content="Meditex is html 5 Template">
    <meta name="full-screen" content="yes">
    <meta name="theme-color" content="#568701">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <title>About us| Meditex | Responsive  HTML 5 Template</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/font/flaticon.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/image/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/image/fav/favicon-16x16.png" sizes="16x16">
       

</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Le reste du contenu de votre vue -->

<body class="sbar_color_one">
   
            <section class="welcome_section hme-one" style="background:url(assets/image/welcome-hme-1-bg.jpg)">
                <div class="container">



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="welcme_inner">
                                <div class="heading clearfix">
                                    <h1>Bienvenue à <span>SophaChark </span></h1>
                                </div>
                                <h6>Notre mission est d'optimiser l'efficacité, la sécurité et la qualité des produits et services pharmaceutiques.</h6>
                        <p>
                            notre application vise à optimiser l'efficacité, la sécurité et la qualité des
                            produits et services offerts par l'entreprise pharmaceutique, avec pour objectif ultime
                            d'améliorer la satisfaction des clients grâce à des réponses rapides, fiables et conformes aux
                            normes en vigueur.
                        </p>
                                
                                <a href="#" class="theme-btn">Explorer notre site </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
            </section>
            <!-----------------welcome_section------------------------>
    <!-------contact-through----->
    <div class="contact_through">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="contact_through_inner">
                        <span class="flaticon-phone-1 icon"></span>
                        <p>
                            Urgence: <br />
                            066666666
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="contact_through_inner">
                        <span class="flaticon-placeholder icon"></span>
                        <p>
                            SOPHACHARK <br />
                            ,OUJDA MAROC
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="contact_through_inner">
                        <span class="flaticon-envelope icon"></span>
                        <p>
                            Email Address<br />
                            SOPHACHARK@email.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="contact_through_inner">
                        <span class="flaticon-calendar icon"></span>
                        <p>
                            Socièté de logistique pharmaceutique<br />
                            Services de livraison des médicaments au pharmacie
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-------backtotop-------->
            <a href="#" id="scroll" class="default-bg" style="display: none;"><span></span></a>
            <!-------backtotop-------->
            <!------main-content------>
        </main>
        <!------main-slider------>
    </div>



    <!---------mbile-navbar----->
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
            <button class="navbar-toggler toggler-spring mobile-toggler"><span class="fa fa-close"></span></button>
        </div>
    </div>
    <!---------mbile-navbar----->
    <!-----------------------------------script-------------------------------------->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bsnav.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <!---smooth-scrool-->
    <script src="assets/js/SmoothScroll.min.js"></script>
    <script src="assets/js/validator.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/script.js"></script>

    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <script src="assets/js/gmaps.js"></script>
    <script src="assets/js/map-script.js"></script>
    <!--End Google Map APi-->
</body>
</html>