@model SophaTemp.Models.Client

@{
    ViewData["Title"] = "Create";
}
<style>
    .btn-primary {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-primary:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

    .btn-secondary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-secondary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

</style>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>
<div class="container mt-5">
    <h1>Create Client</h1>


    <hr />
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="border p-4 rounded">
                            <label asp-for="LibellePharmacie" class="control-label"></label>
                            <input asp-for="LibellePharmacie" class="form-control" />
                            <span asp-validation-for="LibellePharmacie" class="text-danger"></span>
                        </div>
                @{
                    var villes = new List<string>
                {
                "Ahfir",
                "Aïn-Béni-Mathar",
                "Aïn Chaïr",
                "Al-Aroui",
                "Aklim",
                "Ben Taieb",
                "Berkane",
                "Bni Tadjite",
                "Bouarg",
                "Bouanane",
                "Bouhdila",
                "Boughriba",
                "Debdou",
                "Driouch",
                "El Aïoun Sidi Mellouk",
                "Farkhana",
                "Figuig",
                "Guercif",
                "Guefait",
                "Ihadaden",
                "Jaâdar",
                "Jerada",
                "Kassita",
                "Kerouna",
                "Khadab",
                "Kariat Arekmane",
                "Laâtamna",
                "Madagh",
                "Naima",
                "Nador",
                "Oujda",
                "Ras El Ma",
                "Rislane",
                "Saïdia",
                "Segangan",
                "Sidi Lahsen",
                "Sidi Slimane Echcharaa",
                "Selouane",
                "Taforsit",
                "Tafoughalt",
                "Talsinnt",
                "Tamassamane",
                "Tendrara",
                "Tiouli",
                "Tiztoutine",
                "Touima",
                "Zaïo",
                "Zegzel"
                };
                }
                <div class="form-group">
                <label asp-for="Ville">Ville </label>
                <select asp-for="Ville" asp-items="@(new SelectList(villes))" class="form-control">
                    <option value="">Sélectionnez une Ville...</option>
                </select>
                <span asp-validation-for="Ville" class="text-danger"></span>
                </div>
                      
                        <div class="form-group">
                            <label asp-for="Telephone " class="control-label"></label>
                            <input asp-for="Telephone " class="form-control" />
                            <span asp-validation-for="Telephone " class="text-danger"></span>
                        </div>

                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>

                        <div class="form-group">
                            <label asp-for="X" class="control-label"></label>
                            <input asp-for="X" class="form-control" />
                            <span asp-validation-for="X" class="text-danger"></span>
                        </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Y" class="control-label"></label>
                        <input asp-for="Y" class="form-control" />
                        <span asp-validation-for="Y" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adresse" class="control-label"></label>
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EnGarde" /> @Html.DisplayNameFor(model => model.EnGarde)
                        </label>
                    </div>

                    <div class="form-group">
                        <label asp-for="WhishlistId" class="control-label"></label>
                        <select asp-for="WhishlistId" class ="form-control" asp-items="ViewBag.WhishlistId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="nom" class="control-label"></label>
                        <input asp-for="nom" class="form-control" />
                        <span asp-validation-for="nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="prenom" class="control-label"></label>
                        <input asp-for="prenom" class="form-control" />
                        <span asp-validation-for="prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="motdepasse" class="control-label"></label>
                        <input asp-for="motdepasse" class="form-control" />
                        <span asp-validation-for="motdepasse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="email" class="control-label"></label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
            @* 
                    <div class="form-group">
                        <label asp-for="PasseportId" class="control-label"></label>
                        <select asp-for="PasseportId" class ="form-control" asp-items="ViewBag.PasseportId"></select>
                    </div> *@
            </div>
            </div>
                <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" /> 
            <a asp-action="Index" class="btn btn-outline-success">Back to List</a>

                </div>
            </form>
            </div>
     

    

<script>
    $(document).ready(function () {
        $("#Ville").autocomplete({
            source: function (request, response) {
                var firstLetter = request.term.charAt(0).toUpperCase();
                var filteredCities = villes.filter(function (city) {
                    return city.toUpperCase().startsWith(firstLetter);
                });
                response(filteredCities);
            }
        });
    });


</script>